# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode

megaphone
crappy
BraiiiiiiinnnzzzZ
moar_brainz
hi_brain
violence
bad_sed
replace
*.replace
Karen2
karenFilter
firstFixed
fixed
fixedAgain
bank
clapTrap
scavTrap
fragTrap
diamondTrap
zoo
